<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Configuration 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdy.basicdata.system.mapper.PeopleMapper">

    <resultMap id="peopleMap" type="com.cdy.basicdata.system.entity.People">
        <id property="id" column="id"/>
        <result column="people_no" property="peopleNo"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="age" property="age"/>
        <result column="birthday" property="birthday"/>
    </resultMap>


    <select id="listBy" resultMap="peopleMap">
        select * from tb_people
    </select>

</mapper>